@import url("./theme.css");

.main_container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: stretch;
  align-items: stretch;
  height: 100%;
  max-width: 768px;
  gap: 28px;
  margin: auto;
  padding-block-end: 28px;
}

.card {
  display: flex;
  flex-direction: column;
  padding-inline: 28px;
  border: 1px solid var(--color-grey-600);
  border-radius: var(--border-radius-4);
}

.buttons-row {
  display: flex;
  align-items: center;
  max-width: 768px;
  gap: 28px;
}

h1 {
  text-align: center;
  width: 100%;
}
