@import url("./theme.css");

html {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  height: 100%;
  width: 100%;
  background: var(--color-theme-background);
  color: var(--color-text-body);
  font-family: "Lato", sans-serif;
  max-height: 100%;
  overflow-y: auto;
}
